@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* General styling */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.6;
}

.first_container {
    max-width: 100%;
}

.heading_title {
    text-align: left;
    margin-top: -30px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    color: #01346b;
    margin-left: -10px;
}

.count_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.count {
    color: #495057;
    font-weight: bold;
    margin-top: 30px;
}

.count_name {
    text-align: left;
}

.hero-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.hero-card h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.hero-card p {
    font-size: 1.2rem;
    color: #f8f9fa;
}

.hero-card .btn-primary {
    background-color: #0069d9;
    border-color: #0069d9;
}

.hero-card .btn-secondary {
    background-color: #6c757d;
    border-color: #7d6c6c;
}

/* About Us Section */
section h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #333;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

section p {
    font-size: 1rem;
    color: #555;
    text-align: right;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.ulButton {
    text-align: right;
}

ul li {
    margin-bottom: 10px;
    color: #007bff;
    font-size: 1.1rem;
}

section img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.learn_more {
    margin-left: 10px;
    width: 200px;
    height: 50px;
}

.words {
    margin-top: 14px;
}

/* Health Care Solutions Section */
.card {
    border: none;
    background-color: #bed6eedc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 13px;
}

.icon img {
    max-width: 60px;
    margin-bottom: 15px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #777;
    text-align: center
}

/* section3 */

.section3 {
    padding: 30px;
}

.sec3image {
    border-radius: 20px;
}

.sec3_title {
    text-align: left;
    color: white;
}

.sec3_desc {
    text-align: left;
    color: #ccc;
}

.icon-list {
    list-style-type: none;
    /* Remove default bullets */
    padding: 0;
    display: grid;
    /* Use CSS Grid for layout */
    grid-template-columns: repeat(2, 1fr);
    /* 2 items per row */
    gap: 20px;
    /* Space between items */
}

.icon-list li {
    display: flex;
    align-items: center;
    /* Align icon and text on the same line */
}

.icon-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.sup {
    color: lightblue;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}

/* Appointment Section */
.cardbox {
    border-radius: 8px;
}

.cardbox h4 {
    color: #007bff;
}

.cardbox p {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}


/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 50px;
}

footer h5 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer p,
footer ul li,
footer .form-control {
    color: #ccc;
}

footer .form-control {
    background-color: #495057;
    border: none;
    border-radius: 6px;
}

footer .btn-primary {
    background-color: #007bff;
    border: none;
}