.patient_list {
    background-color: #b6d2df93;
    height: 80vh;
    width: 1000px;
    position: absolute;
    padding: 20px;
    top: 15;
    
    margin-left: -65px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: width 0.9s;
    border-radius: 20px;
}
